{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2>
                        User Dashboard
                        <a href="{{ path('logout') }}" class="btn btn-danger float-right">Logout</a>
                        <div class="clearfix"></div>
                    </h2>
                    <hr>
                    <p>You can update your profile information below using the form below</p>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <h3 class="mt-2">Update Profile</h3>
                    <hr>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
